### Import Modules

In [54]:
import ffn
import warnings
import numpy as np
import pandas as pd
import statistics as st
pd.set_option('display.float_format',lambda x : '%.7f' % x)
warnings.filterwarnings("ignore")

from pandas_datareader import data

### Set Ticker & Date

In [56]:
ticker_lists = "NFLX,NVDA,BABA,BIDU,TWTR,TSLA,AAPL,AMZN,ENPH,FB,GOOG,FSLR,SEDG,AXP,BEN,ALXN,AMGN,ETN"
ranges = ticker_lists.split(",")
start_date = "2015-2-20"

In [58]:
term = [5,10,20]
volume_dict={}
for i in ranges:
    Datas = data.get_data_yahoo(i, start_date)
    volume_df = Datas["Volume"]
    volume_df = volume_df.sort_index(ascending=False)
    for n in term:
        name = str(i) + "_" + str(n)
        volume_dict[name] = np.mean(volume_df[:n+1])
volume_dict

{'NFLX_5': 2969533.3333333335,
 'NFLX_10': 3005181.8181818184,
 'NFLX_20': 3707595.238095238,
 'NVDA_5': 8061966.666666667,
 'NVDA_10': 8757809.090909092,
 'NVDA_20': 7590309.523809524,
 'BABA_5': 14372816.666666666,
 'BABA_10': 13915345.454545455,
 'BABA_20': 15344290.476190476,
 'BIDU_5': 14789850.0,
 'BIDU_10': 12446381.818181818,
 'BIDU_20': 9669857.142857144,
 'TWTR_5': 22536850.0,
 'TWTR_10': 31209009.09090909,
 'TWTR_20': 24916419.04761905,
 'TSLA_5': 33814016.666666664,
 'TSLA_10': 29020636.363636363,
 'TSLA_20': 26363890.476190478,
 'AAPL_5': 109041783.33333333,
 'AAPL_10': 91678309.0909091,
 'AAPL_20': 98948947.61904761,
 'AMZN_5': 3633200.0,
 'AMZN_10': 3122054.5454545454,
 'AMZN_20': 3727719.0476190476,
 'ENPH_5': 3990400.0,
 'ENPH_10': 3783390.909090909,
 'ENPH_20': 3287233.3333333335,
 'FB_5': 18084516.666666668,
 'FB_10': 15915009.090909092,
 'FB_20': 18792790.476190478,
 'GOOG_5': 1321533.3333333333,
 'GOOG_10': 1171672.7272727273,
 'GOOG_20': 1569414.2857142857,
 'FSLR_5': 2989183.3333333335,
 'FSLR_10': 2442681.8181818184,
 'FSLR_20': 2401252.380952381,
 'SEDG_5': 1401283.3333333333,
 'SEDG_10': 1258500.0,
 'SEDG_20': 1163747.619047619,
 'AXP_5': 3602050.0,
 'AXP_10': 3277509.090909091,
 'AXP_20': 3918238.095238095,
 'BEN_5': 2724750.0,
 'BEN_10': 2749518.1818181816,
 'BEN_20': 3659014.285714286,
 'ALXN_5': 2668183.3333333335,
 'ALXN_10': 2226081.8181818184,
 'ALXN_20': 2594233.3333333335,
 'AMGN_5': 2322650.0,
 'AMGN_10': 2182609.090909091,
 'AMGN_20': 2611909.523809524,
 'ETN_5': 2334966.6666666665,
 'ETN_10': 2263245.4545454546,
 'ETN_20': 2326966.6666666665}

In [69]:
import csv
col = [["Ticker","volume"]]
with open("volume_results.csv","w", newline='') as f:    #parameter "newline" defines whether leaving space after writing or not
    writer = csv.writer(f)
    writer.writerows(col)
    for key in volume_dict:
        f.write("%s,%.2f\n" %(key, volume_dict[key]))
    f.close()

In [70]:
results = pd.read_csv("volume_results.csv")

     Ticker            volume
0    NFLX_5   2969533.3300000
1   NFLX_10   3005181.8200000
2   NFLX_20   3707595.2400000
3    NVDA_5   8061966.6700000
4   NVDA_10   8757809.0900000
5   NVDA_20   7590309.5200000
6    BABA_5  14372816.6700000
7   BABA_10  13915345.4500000
8   BABA_20  15344290.4800000
9    BIDU_5  14789850.0000000
10  BIDU_10  12446381.8200000
11  BIDU_20   9669857.1400000
12   TWTR_5  22536850.0000000
13  TWTR_10  31209009.0900000
14  TWTR_20  24916419.0500000
15   TSLA_5  33814016.6700000
16  TSLA_10  29020636.3600000
17  TSLA_20  26363890.4800000
18   AAPL_5 109041783.3300000
19  AAPL_10  91678309.0900000
20  AAPL_20  98948947.6200000
21   AMZN_5   3633200.0000000
22  AMZN_10   3122054.5500000
23  AMZN_20   3727719.0500000
24   ENPH_5   3990400.0000000
25  ENPH_10   3783390.9100000
26  ENPH_20   3287233.3300000
27     FB_5  18084516.6700000
28    FB_10  15915009.0900000
29    FB_20  18792790.4800000
30   GOOG_5   1321533.3300000
31  GOOG_10   1171672.7300000
32  GOOG_20   1569414.2900000
33   FSLR_5   2989183.3300000
34  FSLR_10   2442681.8200000
35  FSLR_20   2401252.3800000
36   SEDG_5   1401283.3300000
37  SEDG_10   1258500.0000000
38  SEDG_20   1163747.6200000
39    AXP_5   3602050.0000000
40   AXP_10   3277509.0900000
41   AXP_20   3918238.1000000
42    BEN_5   2724750.0000000
43   BEN_10   2749518.1800000
44   BEN_20   3659014.2900000
45   ALXN_5   2668183.3300000
46  ALXN_10   2226081.8200000
47  ALXN_20   2594233.3300000
48   AMGN_5   2322650.0000000
49  AMGN_10   2182609.0900000
50  AMGN_20   2611909.5200000
51    ETN_5   2334966.6700000
52   ETN_10   2263245.4500000
53   ETN_20   2326966.6700000

In [82]:
result_list=[]
volume_list = results["volume"]
step = 3
for i in range(0,len(volume_list),step):
    result_list.append (volume_list[i:i+3])

0   2969533.3300000
1   3005181.8200000
2   3707595.2400000
Name: volume, dtype: float64

## Total Volume

In [12]:
import ffn
import warnings
import numpy as np
import pandas as pd
import statistics as st
pd.set_option('display.float_format',lambda x : '%.7f' % x)
warnings.filterwarnings("ignore")

from pandas_datareader import data

In [13]:
ticker_lists = "NFLX,NVDA,BABA,BIDU,TWTR,TSLA,AAPL,AMZN,ENPH,FB,GOOG,FSLR,SEDG,AXP,BEN,ALXN,AMGN,ETN"
ranges = ticker_lists.split(",")
start_date = "2020-01-01"
end_date = "2020-12-31"

In [3]:
volume_dict={}
for i in ranges:
    Datas = data.get_data_yahoo(i, start_date)
    volume_df = Datas["Volume"]
    volume_df = volume_df.sort_index(ascending=False)
    name = str(i)
    volume_dict[name] = np.sum(volume_df[:])
volume_dict

{'NFLX': 1972819200,
 'NVDA': 3401628900.0,
 'BABA': 5513460700,
 'BIDU': 1615684500,
 'TWTR': 5984942800,
 'TSLA': 20433010100.0,
 'AAPL': 44449592200.0,
 'AMZN': 1406081400,
 'ENPH': 1511615000,
 'FB': 6533648100,
 'GOOG': 547245200,
 'FSLR': 642563700,
 'SEDG': 387313000,
 'AXP': 1493837700.0,
 'BEN': 1236893800.0,
 'ALXN': 697573100,
 'AMGN': 817610800.0,
 'ETN': 687262100.0}

In [14]:
B=1000000000
M=1000000

In [6]:
ticker_lists = "NFLX,NVDA,BABA,BIDU,TWTR,TSLA,AAPL,AMZN,ENPH,FB,GOOG,FSLR,SEDG,AXP,BEN,ALXN,AMGN,ETN"

In [39]:

LQA={}
k = []
for i in volume_dict:
    k.append(volume_dict[i])
             
k = pd.DataFrame(k)
total_shares = pd.DataFrame(total_shares)


z = pd.DataFrame(k/total_shares)
z["ticker"]=ranges[0]
z["share_turnover"]=z[0]

del z[0]
z

   ticker  share_turnover
0    NFLX       4.4700666
1    NVDA       5.5266107
2    BABA       0.0223217
3    BIDU       0.6863571
4    TWTR       7.5873059
5    TSLA      22.0349510
6    AAPL       2.5767880
7    AMZN       0.0281340
8    ENPH      12.1166687
9      FB       2.7223534
10   GOOG       1.6314980
11   FSLR       3.2830763
12   SEDG       7.7115580
13    AXP       1.8473915
14    BEN       2.4701071
15   ALXN       3.1689863
16   AMGN       1.3952641
17    ETN       1.6927638

In [27]:
ranges = pd.DataFrame(ranges)
ranges[0]

0     NFLX
1     NVDA
2     BABA
3     BIDU
4     TWTR
5     TSLA
6     AAPL
7     AMZN
8     ENPH
9       FB
10    GOOG
11    FSLR
12    SEDG
13     AXP
14     BEN
15    ALXN
16    AMGN
17     ETN
Name: 0, dtype: object